page-home {

    
}


.lancamento {
    width: 100%;
    position: relative;
  }
  .lancamento .pago {
    position: absolute;
    color: green;
    right: 5%;
    top: 25%;
  }

.navigation {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.float-right {
    float: right;
}

.text-green {
    color: green;
}

.text-red {
    color: red;
}

